APP_CONFIG_APP_IDENTIFIER=the-sous-chef-web
APP_CONFIG_CLIENT_CONFIG_PROFILE_IDENTIFIER=client
APP_CONFIG_SERVER_CONFIG_PROFILE_IDENTIFIER=server
AWS_REGION=us-east-1
AUTH0_CLIENT_ID=
AUTH0_DOMAIN=thesouschef.us.auth0.com
DEBUG_BUILD=false
DEPLOYMENT=local
HOSTNAME=localhost
LOGROCKET_ACCOUNT_ID=
NODE_ENV=development
PORT=5173
PUBLIC_PATH=/
RELEASE=local
SENTRY_DSN=
